#index-profile {
    /* Display & Box Model */
    display: flex;
    width: 100%;
    height: 70%;
    margin: auto;
    margin-top: 3%;
    
    /* Flex */
    flex-direction: column;
    align-items: center;
}

.profile__img {
    /* Visual */
    border-radius: 50%;
}

#index-profile > .profile__img {
    /* Box Model */
    width: 350px;
    height: 350px;
    margin-top: 5%;
}

#index-profile > .profile__title {
    /* Box Model */
    width: 80%;
    margin-top: 5%;
    
    /* Typography */
    font-size: 32px;
    font-weight: 800;
}

#index-profile > .profile__text {
    /* Box Model */
    width: 80%;
    margin-top: 1%;
    
    /* Typography */
    font-size: 16px;
    font-weight: 150;
}

